@font-face {
    src: url("resources/fonts/Sora-Regular.ttf");
    font-family: "sora-regular";
}

@font-face {
    src: url("resources/fonts/Sora-Bold.ttf");
    font-family: "sora-bold";
}

@font-face {
    src: url("resources/fonts/DMSans-Regular.ttf");
    font-family: "dmsans-regular";
}

@font-face {
    src: url("resources/fonts/DMSans-Bold.ttf");
    font-family: "dmsans-bold";
}

* {
    font-size: 13px;
    font-family: 'dmsans-regular';
    color: var(--text-color2);
}

:root {
    --text-color1: #fff;
    --text-color2: #0e0916;
    --text-color3: #463a5e;
    --header-color1: #2bf1ff;
    --header-color2: #ff22ed;
    --btn-color1: #22b31d;
    --btn-color2: #7ed42d;
    --btn-color3: #deffc3;
    --btn-color1-hover: #18a513;
    --btn-color2-hover: #6bbd20;
    --btn-color3-hover: #c2f599;
    --head-cover-color1: #16032c;
    --head-cover-color2: #6b1294;
    --head-cover-color3: #d10bf8;
    --font-family1: 'sora-regular';
    --font-family2: 'sora-bold';
    --font-family3: 'dmsans-regular';
    --font-family4: 'dmsans-bold';
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    scroll-behavior: smooth;
    background-image: linear-gradient(24deg, rgb(157, 238, 248), rgb(250, 227, 135), rgb(216, 142, 250));
}

.header-sec1 {
    color: var(--header-color1);
    font-family: var(--font-family2);
}

.header-sec2 {
    color: var(--header-color2);
    font-family: var(--font-family2);
}

.header-sec3 {
    color: var(--text-color1);
    font-family: var(--font-family2);
}

.header-sec4 {
    color: var(--text-color2);
    font-family: var(--font-family2);
}

.nr-text {
    color: var(--text-color1);
}

.pst-text {
    color: var(--text-color3);
}

.main-carousel {
    padding: 0px;
    margin: 0px;
}

.header-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(69.51deg, var(--head-cover-color1) 28.5%, var(--head-cover-color2) 74.84%, var(--head-cover-color3) 99.89%);
    z-index: 20;
    top: 0;
    left: 0;
    z-index: 1;
    transform: skewY(183deg);
    transform-origin: right bottom;
}

.header-cover2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(69.51deg, var(--head-cover-color1) 28.5%, var(--head-cover-color2) 74.84%, var(--head-cover-color3) 99.89%);
    z-index: 20;
    top: 0;
    left: 0;
    z-index: 1;
    transform: skewY(4deg);
    transform-origin: left bottom;
}

.header-cover3 {
    background-image: linear-gradient(-360deg, transparent 8%, var(--head-cover-color2) 46%, var(--head-cover-color1) 80%);
}

.header-cover4 {
    background-image: linear-gradient(180deg, transparent 1%, var(--head-cover-color2) 30%, var(--head-cover-color1) 50%);
}

.carousel-child {
    height: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.def-btn {
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 24px;
}

.def-link {
    color: var(--text-color1);
}

.def-link2 {
    color: rgb(218, 218, 218);
}

.def-link:hover {
    color: var(--header-color1);
    cursor: pointer;
}

.def-btn-green {
    background-image: linear-gradient(8deg, var(--btn-color1) 28.5%, var(--btn-color2) 74.84%, var(--btn-color3) 99.89%);
    color: var(--text-color1);
    font-family: var(--font-family4);
    transition-duration: 0.3s;
}

.def-btn-green:hover {
    background-image: linear-gradient(8deg, var(--btn-color1-hover) 18.5%, var(--btn-color2-hover) 74.84%, var(--btn-color3-hover) 99.89%);
    color: var(--text-color1);
    cursor: pointer;
    transition-duration: 0.3s;
}

.def-btn-orange {
    background-image: linear-gradient(8deg, rgb(231, 118, 26) 28.5%, rgb(231, 159, 26) 74.84%, rgb(248, 208, 132) 99.89%);
    color: var(--text-color1);
    font-family: var(--font-family4);
    transition-duration: 0.3s;
}

.def-btn-orange:hover {
    background-image: linear-gradient(8deg, rgb(207, 105, 21) 18.5%, rgb(218, 148, 19) 74.84%, rgb(235, 191, 110) 99.89%);
    color: var(--text-color1);
    cursor: pointer;
    transition-duration: 0.3s;
}

.def-category-btn {
    border: none;
    outline: none;
    background-image: linear-gradient(24deg, rgb(43, 10, 82), rgb(100, 13, 150));
    color: var(--text-color1);
    cursor: pointer;
    font-size: 13px;
    border-radius: 24px;
    font-family: var(--font-family4);
    transition-duration: 0.3s;
}

.def-category-btn2 {
    border: none;
    outline: none;
    background-image: linear-gradient(24deg, var(--btn-color1-hover) 18.5%, var(--btn-color2-hover) 74.84%, var(--btn-color3-hover) 99.89%);
    color: var(--text-color1);
    cursor: pointer;
    font-size: 13px;
    border-radius: 24px;
    font-family: var(--font-family4);
    transition-duration: 0.3s;
}

.def-category-btn3 {
    border: none;
    outline: none;
    background-image: linear-gradient(24deg, rgb(248, 242, 208) 18.5%, rgb(245, 241, 234) 74.84%);
    color: var(--text-color2);
    cursor: pointer;
    font-size: 13px;
    border-radius: 24px;
    font-family: var(--font-family3);
    transition-duration: 0.3s;
}

.def-category-btn4 {
    border: none;
    outline: none;
    background-image: linear-gradient(24deg, rgb(247, 217, 50) 18.5%, rgb(255, 240, 103)74.84%);
    color: var(--text-color2);
    cursor: pointer;
    font-size: 13px;
    border-radius: 24px;
    font-family: var(--font-family3);
    transition-duration: 0.3s;
}

.def-category-btn:hover {
    background-image: linear-gradient(24deg, var(--btn-color1-hover) 18.5%, var(--btn-color2-hover) 74.84%, var(--btn-color3-hover) 99.89%);
    transition-duration: 0.3s;
}

.header-img {
    right: 30px;
    bottom: 0;
    position: absolute;
    opacity: 0.3;
}

.def-card {
    border: none;
    border-radius: 24px;
    background-image: linear-gradient(24deg, rgb(223, 223, 223), rgb(177, 178, 248));
    box-shadow: 0px 2px 4px 2px #0e09161c;
    transition-duration: 0.3s;
}

.def-card:hover {
    border-radius: 24px;
    background-image: linear-gradient(24deg, rgb(229, 248, 194), rgb(107, 247, 149));
    box-shadow: 0px 2px 14px 3px #0e09161c;
    cursor: pointer;
    transition-duration: 0.3s;
}

.def-card2 {
    border: none;
    border-radius: 24px;
    background-image: linear-gradient(24deg, rgb(214, 252, 252), rgb(234, 220, 252), rgb(241, 234, 206));
    box-shadow: 0px 2px 4px 2px #0e09161c;
    transition-duration: 0.3s;
}

.def-card2:hover {
    border-radius: 24px;
    background-image: linear-gradient(24deg, rgb(248, 194, 224), rgb(195, 132, 247));
    box-shadow: 0px 2px 14px 3px #0e09161c;
    transition-duration: 0.3s;
}

.def-card3 {
    border: none;
    border-radius: 24px;
    background-image: linear-gradient(24deg, rgb(255, 124, 48) 18.5%, rgb(255, 209, 124) 74.84%, rgb(236, 203, 153) 99.89%);
    transition-duration: 0.3s;
}

.def-card3:hover {
    cursor: pointer;
}

.category-btn-mod {
    font-size: 11px!important;
    width: fit-content;
}

.def-input {
    border-style: solid;
    border-width: 1px;
    border-color: #2bf1ff73;
    border-radius: 24px;
    outline: none;
    box-shadow: 0px 2px 14px 3px #0e09161c;
    transition-duration: 0.3s;
    font-family: var(--font-family2);
}

.def-input:focus {
    border-color: #2bf1ff;
    transition-duration: 0.3s;
}

.def-input2 {
    border-color: #d10bf860;
}

.def-input2:focus {
    border-color: #d10bf8;
}

.card-animation {
    animation-name: color-chage-animation;
    animation-iteration-count: infinite;
    animation-duration: 5s;
}

.text-animation {
    animation-name: blink-animation;
    animation-iteration-count: infinite;
    animation-duration: 0.8s;
}

.full-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@keyframes color-chage-animation {
    0% {
        filter: saturate(0);
    }
    50% {
        filter: saturate(1);
    }
    100% {
        filter: saturate(0);
    }
}

@keyframes blink-animation {
    0% {
        opacity: 1;
        filter: blur(0);
    }
    50% {
        opacity: 0.5;
        filter: blur(0.6px);
    }
    100% {
        opacity: 1;
        filter: blur(0);
    }
}

@media (max-width: 576px) {
    .full-wrapper {
        width: 100%;
    }
}

@media(min-width:576px) {
    .full-wrapper {
        width: 100%;
    }
}

@media(min-width:768px) {
    .full-wrapper {
        width: 100%;
    }
}

@media(min-width:992px) {
    .full-wrapper {
        width: 100%;
    }
}

@media(min-width:1200px) {
    .full-wrapper {
        width: 100%;
    }
}

@media(min-width:1400px) {
    .full-wrapper {
        width: 1400px;
    }
}